.drum-pad {
  width: 50pt;
  height: 50pt;
  margin: 2pt;
}

button {
  font-size: 30pt;
  cursor: pointer;
}

.drum-pad:hover {
  background-color: aquamarine;
}

.drum-pad:active {
  background-color: orange;
}

#sounds {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 90vh;
  width: 250px;
  flex-wrap: wrap;
  margin: auto
}

